:root {
  --space: 1rem;
  --bg: #09090b;
  --fg: #e3e3e3;
  --surface-1: #101012;
  --surface-2: #27272a;
  --surface-3: #52525b;
  --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

* {
  box-sizing: border-box;
}

.card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  place-items: center;
  aspect-ratio: 1/1;
  /*border: 1px solid var(--surface-2);*/
  isolation: isolate;
  transition: border-color 200ms var(--ease-out);
  user-select: none;
  max-width:140px;
  max-height:140px;
  border-radius:70px;
  margin:auto;

  > * {
    grid-area: card;
  }

  svg, img {
    position: relative;
    z-index: 100;
    /*width: 30%;*/
    height: auto;
    color: var(--surface-3);
    transition: 300ms var(--ease-out);
    transition-property: color, scale;
  }