
:root {
	--hbg-color: #faffff;
}

@media (max-resolution: 150dpi) {
:root {
	--hbg-color: #fdffff;
}
}

body {
/*background-color: #fafaf0;*/
  background-color: #f8f8fa;
}
.p-spot {
	margin-bottom:18px;
}
a, div.post-list a {
color: #286c80;
text-decoration: none;
font-weight:500;
}
a:visited, div.post-list a:visited {
color: #286c80;

 }
a:hover, div.post-list a:hover {
color: #222;
text-decoration: underline; 
}
#wcb.carbonbadge {
	padding:18px 0;
}
article.post.h-entry div.post-content.e-content p a.h-card.p-author img.u-photo {
border-radius: 24px;
}
article.comment {
margin-bottom:9px;
padding:9px;
}
.page-content {
  margin-top:-12px;
  padding: 0 0 30px 0;
  flex: 1; }
  
div.reply {
display:none;
}
 .commentlist li, .bookmarks li, .mentions li, .likes li {
  list-style:none;	
  }
    .commentlist img.u-photo, .bookmarks img.u-photo, .mentions img.u-photo,
    .likes img.u-photo {
  border-radius:24px;
  margin-right:6px;	
  }
article.post.h-entry div.post-content.e-content h2#comments-title, 
    article.post.h-entry div.post-content.e-content div.bookmarks h3,
    article.post.h-entry div.post-content.e-content div.mentions h3,
    article.post.h-entry div.post-content.e-content div.likes h3
     {
  font-size:1.2em;
  font-weight:300;
  margin-top:48px;
  }
  article.post.h-entry div.post-content.e-content h2#comments-title {
      border-top:1px solid #ddd;
    }
  span.hide-name.p-name {
  font-size:.9em;
  font-style:italic;	
  }
  
div.cactus-comment-avatar-placeholder {
	background-color:#faffff;
}
div.cactus-comment-avatar-placeholder::before {
	content:"";
}

div.cactus-comment-avatar img {
	max-width:none;
}
.syndy {
font-size:.8em;
font-style: italic;
}
nav {
position: relative;
top: -6px;
}
.home {
position: relative;
top: -11px;
}
h1.post-title {
font-size:30px;
}
.post-content h2 {
font-size: 28px;
font-weight: 500;
}
.titleme a.url {
font-size:48px;
letter-spacing:-1px;
font-weight:700;
}
#result {
/*border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;*/
margin-top: 24px;
font-size:.9em;
}
#result li {
list-style:none;
text-indent:-30px;
}
#search-input {
 width:100%;
 padding:9px;
 border: 1px solid #a3b8cc;
 border-radius:8px;
 background-color: var(--hbg-color);
 margin-bottom:1px;
 font-size:1em;
}
#results-container {
 padding:6px 0 0 12px;
 margin-bottom:12px;
}
#results-container li {
list-style:none;
}
h1.page-heading {
font-weight:600;
}
h4 {
margin: 0;
}
hr {
border-top:1px solid #ddd;
border-bottom:1px solid #fff;
margin-top:36px;
margin-bottom:24px;
}
header {
border:none;
}
.post-link {
    font-weight: 600;
    font-size: 26px;
   }
a.post-link, a:hover.post-link, a:visited.post-link {
color: #222;
}
.note {
font-size:.85em;
line-height:1.4em;
margin-top: -11px;
}
article, .home {
    border: 1px solid #a3b8cc;
    background-color: var(--hbg-color);
    border-radius: 8px;
    padding: 0 24px;
   }
   article.archive-item {
    border: none;
    background-color: var(--hbg-color);
    border-radius: 0;
    padding: 0 24px;
   }

.post-title {
font-size:32px;
font-weight:600;
line-height: 1.3;
}
#menu {
margin-below:48px;
}
#menu a {
margin: 0 10px;
font-weight:600;
font-size: .85em;
color: #555;
}
#site-image {
	position: relative;
	float: left;
	margin-top:-22px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
margin-bottom: 0;
clear: both;
top: -64px;
}
#site-title a {
	color: #296c80;
}
#site-title {
	margin-left: 96px;
}

#branding {
	background: var(--hbg-color);
	padding: 14px 12px 0 13px;
	border: solid 1px #a3b8cc;
	border-radius: 8px;
	margin: 30px auto 0 auto;
	max-width:1000px;
}
#menu {
	background: var(--hbg-color);
	padding: 4px;
	border: solid 1px #a3b8cc;
	border-radius: 8px;
	margin: 0 auto 0 auto;
	clear: both;
	max-width: 1018px;
	position: relative;
	top: -36px;
}

.wrapper {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	position:relative;
	top:-23px;
	max-width:1024px;
	margin-right: auto;
	margin-left: auto;
    padding: 0;
}
.rss-subscribe {
border-top:1px dashed #ccc;
border-bottom:1px dashed #ccc;
text-align:center;
font-size:.9em;
}
.onef {
width:66%;	
}
.twof {
width:34%;
} 
.thesidebar {
text-align:center;
padding:0;
margin-left:9px;
}
#page {
	min-width: 1000px;
}
.welcome {
	padding:18px 18px 4px 18px;
	border: 1px solid #a3b8cc;
	border-radius:8px;
	background-color: var(--hbg-color);
	text-align:left;
	margin-bottom:9px;
	font-size:.95em;
}
div.hcard-display {
	background: var(--hbg-color);
	border:1px solid #a3b8cc;
	border-radius:8px;
	padding:4px 6px;
	font-size:.8em;
	text-align:center;
}
.explore {
	border: 1px solid #a3b8cc;
	border-radius: 8px;
	background: var(--hbg-color);
	padding:4px 6px;
	font-weight:400;
	font-size:.9em;
	text-align:center;
	position: relative;
	top: -4px;
}
.sidefoot {
	margin-top: 48px;
	padding-left: 18px;
	text-align: center;
	line-height: 1.5em;
}
.sidefoot-aka {
	position:relative;
	top:3px;
	padding-left:0;
	text-align: center;
	line-height: 1.5em;
}
.sidefoot-credits {
	font-size:.8em;
	margin-top: 10px;
	padding-left: 0;
	text-align: center;
	line-height: 1.5em;
	border: 1px solid #a3b8cc;
	background: var(--hbg-color);
	border-radius: 8px;
}

.iwtblock {
	padding: 9px;
	margin: 0 10px;
	border: 1px solid #a3b8cc;
	background: var(--hbg-color);	border-radius: 8px;
	text-align: center;
	font-size: .9em;
	font-weight: 600;
	line-height: 1.7em;
}
#aka {
	position:relative;
	/*top:2px;*/
	padding:12px 6px 6px 6px;
	border:1px solid #a3b8cc;
	background-color: var(--hbg-color);
	border-radius: 8px;
	font-size:.75em;
}
.aka-sep {
	text-align:center;
	margin:24px 14px 3px 14px;
	border:1px solid #dcdcdc;
	line-height:1.2em;
}
.aka-sep-container {
	width:100%;
	display:flex;
	padding-bottom:6px;
}	
.aka-sep-left {
	text-align:left;
	width:55%;
	margin-left:22px;
}
.aka-sep-right {
	text-align:right;
	width:45%;
	margin-right:20px;
}
#aka-header {
	width:100%;
	text-align:center;
	font-size:1.5em;
	font-weight:600;
	color:#286c80;
	margin-bottom:12px;
	padding-bottom:6px;
}
#aka-header-fix {
	position:relative;
	left:-9px;
	font-size:.8em;
}
#aka-header-left {
	position:relative;
	float:left;
	margin-left:8px;
}
#aka-header-right {
	position:relative;
	float:right;
	margin-right:18px;
}
.aka-subhead {
	font-size:.7em;
	font-weight:300;
}
#aka ul {
margin-bottom:0;
}
#aka li {
	list-style:none outside none;
	line-height:1.4em;	
}
#aka li a, #aka li a:visited {
	font-weight:600;
	text-decoration:none;
	color:#222;
}
#aka li a:hover {
	text-decoration:underline;
	color:#222;
}
#aka #slug {
	width:42px;
	margin-bottom:6px;
	/*position:relative;left:8px;*/
}		
@media only screen and (max-width:768px) {
	body {
		padding:0 9px 0 14px;
	}
div.hcard-display, .explore {
margin:auto;	
}
.thesidebar {
padding:0 0 0 6px;
margin:0;
}
	.onef {
	width:99%;	
	}
	.twof {
	width:100%;	
	}
.thesidebar {
	position:relative;
	left:-8px;
	padding-top:24px;
}


}
@media only screen and (max-width:476px) {
.thesidebar {
padding:0;
margin:0;
}
div.hcard-display, .explore, .welcome, .sidefoot-credits {
position:relative;
left:8px;
}
.sidefoot-credits {
	margin-right:2px;
}
.sidefoot-aka {
	padding-left: 9px;
}
#aka  {
	left:0;
	min-width:98%;
}
/*.thesidebar {
	position:relative;
	left:-8px;
	padding-top:24px;
}
#aka, .sidefoot {
	position:relative;
	left:-4px;
}*/
.iwtblock {
	margin: 0;
}
h1#site-title.p-name span.titleme a.u-url.url {
font-size:24px;
letter-spacing:0;
}
#site-image {
width:48px;
height:48px;
margin-top:0;
margin-bottom:0;
}
div.hcard-display {

}
#site-title {
	margin-left: 68px;
}
.wrapper {
		display:flex;flex-direction: column;flex-wrap:wrap;
	}
	.onef {
	width:99%;	
	}
	.twof {
	width:99%;	
	}

}

#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
}

#webmentions .comments {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 2px;
    background: #ccc;
}

#webmentions .reacts img {
    margin: 3px -1ex 1px 0;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    max-height: 1.3em;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#webmentions .comments li .text {
    color: #555;
    font-style: italic;
    text-decoration: none;
}

#webmentions .comments li .name {
    color: #111;
}


#thumbs {
	padding-top:24px;
}
#thumbs img {
	position: relative;
	float: left;
	margin: 1px;
	width:100px;

}


