<div class="clip" id="webmention-classes">

  		{% if page.in_reply_to %}

  		<a href="{{ page.in_reply_to }}" class="u-in-reply-to">{{ page.in_reply_to }}</a>

  		{% endif %}

  		{% if page.is_reply %}

  		<a class="u-in-reply-to" href="{{ page.link-url }}">{{ page.link-url }}</a>

  		{% endif %}

  		<a class="u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>

  		{% if site.author %}<span class="u-author p-author">{{ site.author }}</span>{% endif %}

  		{% if site.author-image %}<img class="u-photo" alt="{{ site.author }}" src="{{ site.url }}/images/{{ site.author-image }}">{% endif %}

  		{% if page.is_like %}

  		<a href="{{ page.link-url }}" class="u-like-of">{{ page.link-url }}</a>

  		{% endif %}

  	</div>

    <p class="f6 mb0">{% if page.link-author %}By {{ page.link-author }}{% endif %}{% if page.link-published %}, originally published <time>{{ page.link-published | date: "%-d %b, %Y" }}</time>{% endif %}</p>

    <p class="f6 mt0"><a class="db" href="{{ page.link-url }}">{{ page.link-url }}</a></p>

{% assign webmentions = "" | split: "," %}

{% assign webmention_dump = site.data.wm.links | reverse %}

{% assign this_url = page.slug | replace: ".", "-" %}

{% for item in webmention_dump %}

  {% assign target_url = item.target | split: "/" | compact | last %}

  {% if target_url == this_url %}

      {% assign webmentions = webmentions | push: item %}

  {% endif %}

{% endfor %}

{% if webmentions.size > 0 %}

  <div class="c-headings">

    <h2 class="mb1 f4 c-lh-title">Mentions</h2>

  </div>

  <p class="f7 mt1 mb3">Comments and replies to this post from other sites and services, such as <a href="https://micro.blog">micro.blog</a> and Twitter.</p>

  {% for webmention in webmentions %}

  <article class="mb4">

    <h3 id="{{ webmention.id }}" class="f5 c-lh-title mt0 mb1 flex items-center">{% if webmention.data.author.url %}<a class="no-underline underline-hover" rel="nofollow" href="{{ webmention.data.author.url }}">{% endif %}{% if webmention.data.author.photo %}<img class="v-mid dib h-auto w2 br-100 mr2" src="{{ webmention.data.author.photo }}" alt="{{ webmention.data.author.name }}">{% endif %}{{ webmention.data.author.name }}{% if webmention.data.author.url %}</a>{% endif %}</h3>

    <p class="mt0 mv1 f6"><a class="no-underline underline-hover" rel="nofollow" href="{{ webmention.data.url }}"><time>{{ webmention.data.published | date: "%-d %b, %Y %H:%M" }}</time></a>{% if webmention.activity.type == 'like' %} {{ webmention.activity.sentence_html }}{% endif %}</p>

    {% if webmention.data.content %}<div class="c-collapse-top-margin c-serif">{{ webmention.data.content | strip_html | markdownify }}</div>{% endif %}

  </article>

  {% endfor %}

{% endif %}