---
layout: default
---
<style>
#resultsp {
	display:none;
}
</style>

<div class="home">
	<div style="position:relative;float:right;margin:9px 0 9px 9px;">
	<a href="https://simply.joejenett.com/adventures-of-a-donut-maker/"><img src="/images/donuts.png" alt="" height="84"></a>
	</div>		

<iframe id="announcer" title="i.webthings announcments" src="https://joejenett.com/announce/announce.html"></iframe>
<div>
	{{ content }}

<div class="post-list fortyeight-b">
{% assign count = 0 %}
{%- for post in site.posts -%}
{% assign count = count | plus:1 %}
{% if count == 1 %}
{%- include postnav-home.html -%}
{% endif %}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{% if post.title != "" %}
<div class="postlist-sep">
<h2 class="postlist-post-title">
<a class="post-link u-url" href="{{ site.url }}{{ post.url }}">
{{ post.title | escape }}</a> 
</h2>
<div class="hold-meta">
<span class="post-meta"><a rel="feed" href="{{ site.url }}{{ post.permalink }}">{{ post.date | date: date_format }}</a></span>
• <span class="post-meta p-author h-card">joe jenett
</span>
<span class="post-meta post-categories">• posted in:
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
{% for category in categories %}
<a href="{{ site.baseurl }}categories/#{{category|slugize}}">{{category}}</a>
{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
</span>
</div>
{%- if site.show_excerpts -%}
{{ post.excerpt }}
{%- endif -%}
</div>
{% endif %}

{% if post.title == "" %}
<li class="postlist-sep">
{%- if site.show_excerpts -%}
{{ post.excerpt }}
{%- endif -%}
<div class="topless-four">
<span class="post-meta"><a rel="feed" href="{{ site.url }}{{ post.permalink }}">{{ post.date | date: date_format }}</a></span>

• <span class="post-meta p-author h-card">joe jenett
</span>
<span class="post-meta post-categories">• posted in:
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
{% for category in categories %}
<a href="{{ site.baseurl }}/categories#{{category|slugize}}">{{category}}</a>
{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
</span>
</div>
</li>
{% endif %}



{% if count == 7 %}{% break %}
{% endif %}

{%- endfor -%}
</div>


<p class="rss-subscribe eighteen-b"><a href="/archive/">browse the archive</a> | <a href="/feed.atom">subscribe via RSS</a></p>
</div>
</div>
<div style="text-align:center;">
<img id="respect" src="/images/respect-ukraine.png" title="Ukraine Deserves our Respect" alt="Ukraine Deserves our Respect" width="120">
</div>

	